body{
    background-color: silver;
    font-family: Arial;
}

h1 { 
    color:            red;
    background-color: yellow;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 464;
}

ol{
    list-style: lower-alpha;
}

h2{
    color: blue;
}


h3{
    color: blue;
}

.link_center{
 text-align: center;
}

.center{
    text-align: center;
}

ul{
    list-style: circle;
}

.box{
    width: 200px;
    border: 1px solid;
    background-color: yellow;
    padding-left: 10px;
}

.table1{
    width: 500px;
    border-collapse: collapse;
    border: 1px solid;

    th{
        background-color: blue;
        color: yellow;
        border: 1px solid;
    }

    td{
        border: 1px solid;
    }

    tr:nth-child(even) {background-color: lightblue;}
    tr:nth-child(odd) {background-color: cyan;}
    tr:hover{background-color: red;
    }
}

.table2{
    width: 500px;
    border-collapse: collapse;
    text-align: center;

    td:nth-child(1){color: red; }
    td:nth-child(2){color: blue;}
    td:nth-child(3){color: blue;}
}

.video1{
    max-width: 100%;
}